[submodule "_submodules/vite-plugin-react"]
	path = _submodules/vite-plugin-react
	url = git@github.com:vitejs/vite-plugin-react
[submodule "_submodules/react-router"]
	path = _submodules/react-router
	url = git@github.com:remix-run/react-router
