.logo-container {
  width: 100%;
  height: 100%;
}

.logo-light {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('/assets/logos/logo-light.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logo-dark {
  display: none;
  width: 100%;
  height: 100%;
  background-image: url('/assets/logos/logo-dark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .logo-light {
    display: none;
  }
  
  .logo-dark {
    display: block;
  }
}
